@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-background {
    height: 100vh;
    background: linear-gradient(270deg, #DF8908, #B415FF, #161513);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
}